{% extends "base.html" %}

{% load static %}

{% block content %}
<section class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <header class="l-box">
            <h4 class="content-subhead">Listagem de Cursos do MOOC4DEVS</h4>
            <p>Abaixo a lista de cursos disponíveis na plataforma</p>
        </header>
    </div>
</section>
{% for course in courses %}
<article class="pure-g-r content-ribbon">
    <div class="pure-u-1-3">
        <div class="l-box">
            <a href="{{ course.get_absolute_url }}">
                {% if course.image %}
                <img src="{{ course.image.url }}" alt="{{ course.name }}" />
                {% else %}
                <img src="{% static 'img/Django-Logo.png' %}" alt="{{ course.name }}" />
                {% endif %}
            </a>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="l-box">
            <h4 class="content-subhead"><a href="{{ course.get_absolute_url }}" title="">{{ course.name }}</a></h4>
            {{ course.description|linebreaks }}
        </div>
    </div>
</article>
{% empty %}
<section class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <div class="l-box">
            <p>Nenhum curso está disponível na plataforma</p>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}
