<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="MOOC4DEVS - A melhor plataforma de ensino tech a distância!" />
    <title>MOOC 4 DEVS</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
    <header class="header">
        <nav class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
            <a class="pure-menu-heading" href="#">MOOC4DEVS</a>
            <ul>
                <li class="pure-menu-selected">
                     <a href="{% url 'core:home' %}">Início</a></li>
                <li><a href="{% url 'courses:index' %}">Cursos</a></li>
                <li><a href="{% url 'core:contact' %}">Contato</a></li>
                {% if user.is_authenticated %}
                    <li><form action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button class="pure-button" type="submit">Sair</button>
                    </form></li>
                {% else %}
                <li><a href="{% url 'accounts:login' %}">Entrar</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
<body>
<main class="content">
    {% block content %} {% endblock %}
    <footer class="footer">
        MOOC4DEVS - A melhor plataforma de ensino tech a distância!
    </footer>
</main>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
</html>