{% extends 'base.html' %}

{% block content %}
    <section class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <article class="l-box splash-text">
                    <h1 class="splash-head">
                        A plataforma de ensino para <code>&lt;desenvolvedores&gt;</code>
                    </h1>
                    <h2 class="splash-subhead">
                        O  MOOC for Devs veio para facilitar seu ínicio na carreira tech, provendo ferramentas
                        objetivas e de fácil uso para cursos a distância.
                    </h2>
                    <p>
                        <a href="#" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </article>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <article class="l-box">
                    <h4 class="content-subhead">Vídeo-aulas e materiais digitais</h4>
                    <h3>Publique suas aulas</h3>
                    <p>
                        O  MOOC4Devs tem um sistema intuitivo para que o professor disponibilize vídeo-aulas
                        e materiais digitais como: pdf's, slides, imagens ...
                    </p>
                </article>
            </div>
            <div class="pure-u-1-3">
                <figure class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Vídeo aulas e materiais digitais.">
                </figure>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <figure class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Fórum de Dúvidas">
                </figure>
            </div>
            <div class="pure-u-2-3">
                <article class="l-box">
                    <h4 class="content-subhead">Fórum de Dúvidas</h4>
                    <h3>Interaja com seus Alunos</h3>
                    <p>
                        No MOOC4Devs você pode ter seu próprio sistema de fórum para que seus alunos possam
                        interagir com você e com os outros alunos e tirar dúvidas sobre <i>aquele</i>
                        <code>&lt;código&gt;</code>
                    </p>
                </article>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <article class="l-box">
                    <h4 class="content-subhead">Exercícios</h4>
                    <h3>Crie exercícios para avaliar seus alunos</h3>
                    <p>
                        Você pode criar exercícios para que os alunos possam ser avaliados e todo o controle
                        de notas e resolução dos exercícios é controlado pela plataforma, facilitando sua vida!
                    </p>
                </article>
            </div>
            <div class="pure-u-1-3">
                <figure class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Exercícios">
                </figure>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <figure class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Mural de Avisos">
                </figure>
            </div>
            <div class="pure-u-2-3">
                <article class="l-box">
                    <h4 class="content-subhead">Mural de Avisos</h4>
                    <h3>Envie anúncios diretamente para os alunos</h3>
                    <p>
                        Organize os avisos do seu curso de forma fácil e simples.
                    </p>
                </article>
            </div>
        </div>
    </section>

{% endblock %}